#CompanyPageBannerContainer {
  position: relative;
  /* Make the container a positioning context */
  height: 70vh;
  width: 100%;
  background-color: #21303b;
  /* margin-top: 70px; */
}

#CompanyPage {
  margin-bottom: 2rem !important;
}

.CompanyBanner {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;

}
.companyImage{
  display: flex;
  align-items: center;
  justify-content: center;
}
.companyImage img {
  width: 300px;
  /* height: 100%; */
}

.companyDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
}

.companyDetails h3 {
  color: white;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.companyDetails p {
  text-align: center;
  color: white;
  margin: 0px;
}

.rightSideImageContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.rightSideImageContainer .ant-image {
  width: 60%;
  margin: 20px 0px;
  transition: .5s;
}

.rightSideImageContainer .ant-image:hover {
  transform: scale(1.1);
  transition: .5s;
}

.leftSideDetailsContainer h1 {
  color: #b77733;
}

.leftSideDetailsContainer ul li {
  margin: 20px 0px;
}

.leftSideDetailsContainer {
  position: sticky;
  top: 30%;
}

.bannerImage img {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  object-fit: cover;
  opacity: 0.2;
}

@media (max-width:769px) {
  .rightSideImageContainer .ant-image {
    width: 100%;
    margin: 20px 0px;
    transition: .5s;
  }
}