.ScrollingAnimationContainer {
    padding: 100px 40px;
    background-color: white;
}

.ScrollingAnimationCardsContainer {
    border-left: 1px solid rgba(136, 158, 168, 0.2);
    padding-left: 80px;

}

.ScrollingAnimationCardsContainer>div {
    border-top: 1px solid rgba(136, 158, 168, 0.079);
    padding: 40px 0px;
    position: relative;
}

.ScrollingAnimationCardsContainer>div hr {
    opacity: 0;
    width: 0px;
    transition: .5s;
    margin: 0px;
    position: absolute;
    bottom: -1px;
    border: 0.5px solid rgba(0, 0, 0, 0.391);
}

.ScrollingAnimationCardsContainer>div:hover hr {
    opacity: 1;
    margin: 0px;
    width: 100%;
    transition: .5s;
    border: 0.5px solid rgba(0, 0, 0, 0.391);
}

.CompanyDetailsContainer {
    padding-right: 100px;
    position: sticky;
    top: 40vh;
}

.CompanyDetailsContainer h2 {
    font-size: 42px;
}

@media (max-width:769px) {
    .CompanyDetailsContainer{
        padding: 0 15px;
    }
    .CompanyDetailsContainer h2 {
        font-size: 30px;
    }

    .ScrollingAnimationContainer {
        padding: 70px 10px;
        background-color: white;
    }
    .ScrollingAnimationCardsContainer>div{
        padding: 20px 0;
    }


}

@media (max-width:900px) {
    .ScrollingAnimationCardsContainer {
        border-left: 1px solid transparent;
        padding-left: 0px;
        padding: 0px 15px;

    }
}